{% extends 'dictionary/base_site.html' %}

{% block body %}
<div id="sports-dictionary-top-bar" class="container-fluid bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8 align-self-end">
                <!-- Navigation -->
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark my-nav">
                    <div class="container">

                        <a class="navbar-brand" href="{% url 'index' %}">Sports Dictionary</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'index' %}">Home<span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sports
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        {% for sport in all_sports %}
                                            <a class="dropdown-item" href="{{ sport.get_absolute_url }}">{{ sport.emoji }} {{ sport.name }}</a>
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-md-4 align-self-end">
                <div class="float-right">
                    {% if request.user.is_authenticated == False %}
                        <a class="btn btn-outline-light" href="{% url 'login' %}" role="button">Sign In</a>
                        <a class="btn btn-outline-light" href="{% url 'signup' %}" role="button">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-8">
                <div id="main_search">
                    <form action="{% url 'search' %}" class="form-inline my-2 my-lg-0" method="get">
                        <input class="form-control" type="search" placeholder="Search for a term"
                               aria-label="Search" name="term">
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="main-actions">
                    <a class="btn btn-light btn-circle btn-circle-lg m-1" href="{% url 'random_term' %}"
                       title="Random term">
                        <i class="fas fa-random"></i>
                    </a>
                    <a class="btn btn-light btn-circle btn-circle-lg m-1" href="#" title="Add a term">
                        <i class="fas fa-plus"></i>
                    </a>
                    {% if request.user.is_authenticated %}
                    <a class="btn btn-light btn-circle btn-circle-lg m-1" href="{% url 'profile' %}"
                       title="Profile">
                        <i class="fas fa-user"></i>
                    </a>
                    <a class="btn btn-light btn-circle btn-circle-lg m-1" href="{% url 'logout' %}"
                       title="Log out">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>
<!-- /.container -->
{% endblock %}
