{% extends 'dictionary/layouts/main_column_with_right_sidebar.html' %}

{% block title %}
    {{ sport.name }} terms - Sports Dictionary
{% endblock %}

{% block maincolumn %}
    {% include "dictionary/includes/render_term_rows.html" %}
    {% include "dictionary/includes/pagination.html" %}
{% endblock %}

{% block sidebar %}
    {% include "dictionary/sidebar/widgets/add_new_term.html" %}
    {% include "dictionary/sidebar/widgets/sport_categories.html" %}
    {% include "dictionary/sidebar/widgets/sports.html" %}
    {% include "dictionary/sidebar/widgets/footer.html" %}
{% endblock %}