{% extends 'dictionary/base.html' %}

{% load custom_urlize %}

{% block title %}Sports Dictionary - {{ term.text }}{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h6>
                    <h5 class="card-title mb-1">
                        <a href="{{ term.get_absolute_url }}">{{ term.text }}</a>
                        <a href="{{ term.sport.get_absolute_url }}"
                           class="badge badge-{{ term.sport.slug }} float-right">{{ term.sport }}</a>
                    </h5>
                    {% if term.user %}
                    <p class="mb-0">
                        <small class="text-muted">Term posted by @{{ term.user }}</small>
                    </p>
                    {% endif %}
                </h6>
            </div>
        </div>
    </div>
</div>
{% for definition in definitions %}
<div class="row mb-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h6>
                    <p class="card-text">{{ definition.text|customUrlize:definition.term.sport|linebreaks }}</p>
                    <p class="mb-0">
                        <small class="text-muted">by @{{ definition.user }}</small>
                    </p>
                </h6>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}