{% extends 'dictionary/base.html' %}

{% load custom_urlize %}

{% block title %}Sports Dictionary - {{ term.text }}{% endblock %}

{% block maincolumn %}
<div class="row mb-3 my-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-1">
                    <div class="row">
                        <div class="col-md-7">
                            <p>{{ term.text }}</p>
                        </div>
                        <div class="col-md-5">
                            <a href="{{ term.sport.get_absolute_url }}"
                               class="badge badge-sport badge-{{ term.sport.slug }} float-right">{{ term.sport }}</a>
                        </div>
                    </div>
                </h5>
                {% if term.user %}
                <p class="mb-0">
                    <small class="text-muted">Term posted by @{{ term.user }}</small>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% for definition in definitions %}
<div class="row mb-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h6>
                    <p class="card-text">{{ definition.text|customUrlize:definition.term.sport|linebreaks }}</p>
                    <p class="mb-0">
                        <small class="text-muted">by @{{ definition.user }}</small>
                    </p>
                </h6>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

{% block sidebar %}
    {% include "dictionary/sidebar/widgets/add_new_term.html" %}
    {% include "dictionary/sidebar/widgets/footer.html" %}
{% endblock %}