{% extends 'dictionary/layouts/main_column_with_right_sidebar.html' %}

{% load static %}
{% load custom_urlize %}
{% load vote_status %}

{% block title %}{{ term.text }} - Sports Dictionary{% endblock %}

{% block maincolumn %}
<!-- Login Prompt Modal -->
<div class="modal fade" id="loginPromptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login to vote</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You must be logged in to vote on definitions.
      </div>
      <div class="modal-footer">
        <a class="btn btn-outline-dark" href="{% url 'login' %}?next={% firstof request.path '/' %}" role="button">Sign In</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3 my-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-1">
                    <div class="row">
                        <div class="col-md-7">
                            <p>{{ term.text }}</p>
                        </div>
                        <div class="col-md-5">
                            <a href="{{ term.sport.get_absolute_url }}"
                               class="badge badge-sport badge-{{ term.sport.slug }} float-right">{{ term.sport }}</a>
                        </div>
                    </div>
                </h5>
                {% if term.user %}
                <p class="mb-0">
                    <small class="text-muted">Term posted by @{{ term.user }}</small>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% csrf_token %}
<div class="infinite-container">
    {% for definition in object_list %}
    <div class="row mb-3 infinite-item">
        <div class="col-sm-12">
            <div class="card">
                {% if forloop.first and definition.valid_top_definition %}
                    <div class="card-header">
                        🏅 Top definition 🏅
                    </div>
                {% endif %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="mx-auto text-center">
                                {% with definition|vote_status:user as vote_status %}

                                {% if user.is_authenticated %}
                                    {% if vote_status == "Upvoted" %}
                                    <button class="voteButton upvoted" data-action="upvote" data-id="{{ definition.id }}">
                                        <i class="fas fa-chevron-up fa-lg vote-icon upvote-icon upvoted"></i>
                                    </button>
                                    {% else %}
                                    <button class="voteButton" data-action="upvote" data-id="{{ definition.id }}">
                                        <i class="fas fa-chevron-up fa-lg vote-icon upvote-icon"></i>
                                    </button>
                                    {% endif %}

                                    <div class="definition-netvote-count text-muted">{{ definition.net_votes }}</div>

                                    {% if vote_status == "Downvoted" %}
                                    <button class="voteButton downvoted" data-action="downvote"
                                            data-id="{{ definition.id }}">
                                        <i class="fas fa-chevron-down fa-lg vote-icon downvote-icon downvoted"></i>
                                    </button>
                                    {% else %}
                                    <button class="voteButton" data-action="downvote" data-id="{{ definition.id }}">
                                        <i class="fas fa-chevron-down fa-lg vote-icon downvote-icon"></i>
                                    </button>
                                    {% endif %}
                                {% else %}
                                    <button class="voteButton" data-toggle="modal" data-target="#loginPromptModal">
                                        <i class="fas fa-chevron-up fa-lg vote-icon upvote-icon"></i>
                                    </button>
                                    <div class="definition-netvote-count text-muted">{{ definition.net_votes }}</div>
                                    <button class="voteButton" data-toggle="modal" data-target="#loginPromptModal">
                                        <i class="fas fa-chevron-down fa-lg vote-icon downvote-icon"></i>
                                    </button>
                                {% endif %}

                                {% endwith %}
                            </div>
                        </div>
                        <div class="col-sm-11">
                            <h6>
                                <p class="card-text">{{ definition.text|customUrlize:definition.term.sport|linebreaks }}</p>
                                <p class="mb-0">
                                    <small class="text-muted">by @{{ definition.user }}</small>
                                </p>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
{% endif %}

<div class="loading text-center" style="display: none;">
    <i class="fas fa-spinner fa-pulse fa-2x"></i>
    <p>
        Loading more definitions...
    </p>
</div>

{% endblock %}

{% block sidebar %}
    {% include "dictionary/sidebar/widgets/add_new_term.html" %}
    {% include "dictionary/sidebar/widgets/footer.html" %}
{% endblock %}

{% block extrascripts %}
<script src="{% static 'dictionary/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'dictionary/js/infinite.min.js' %}"></script>
<script src="{% static 'dictionary/js/waypoints.debug.js' %}"></script>
<script src="{% static 'dictionary/js/jq.js' %}"></script>

<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
</script>
{% endblock %}
