{% extends 'accounts/base_authorisation.html' %}

{% block title %}Account activated - Sports Dictionary{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Your account has been activated</h3>
                        <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
{% endblock %}
