{% extends 'accounts/base_authorisation.html' %}

{% block title %}Invalid account activation link - Sports Dictionary{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Account activation link invalid</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
{% endblock %}
