{% extends 'accounts/base_authorisation.html' %}

{% block title %}Password Reset - Sports Dictionary{% endblock %}

{% block content %}
<main class="login-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        {% if validlink %}
                            <h3 class="card-title">Change password for {{ form.user.username }}</h3>
                            <form method="post" novalidate>
                                {% csrf_token %}
                                {% include 'accounts/form.html' %}
                                <button type="submit" class="btn btn-outline-dark btn-block">Change Password</button>
                            </form>
                        {% else %}
                            <h3 class="card-title">Reset your password</h3>
                            <div class="alert alert-danger" role="alert">
                                It looks like you clicked on an invalid password reset link. Please try again.
                            </div>
                            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Request a new password reset link</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>
{% endblock %}
