{% load qurl %}
<!-- Categories Widget -->
<div class="card my-4">
    <h5 class="card-header">Categories <small>({{categories.count}})<br> {{categories_filtered_by|length}} filter{{categories_filtered_by|length|pluralize}} currently applied</small></h5>
    <div class="card-body categories-card-body">
        <div class="list-group categories-list-group">
            {% for category in categories %}
                {% if category in categories_filtered_by %}
                    <a class="list-group-item list-group-item-action categories-list-group-item checked"
                       href="{% qurl request.get_full_path page=None category-=category.name %}">&nbsp;&nbsp;{{ category.name }}</a>
                {% else %}
                    <a class="list-group-item list-group-item-action categories-list-group-item unchecked"
                       href="{% qurl request.get_full_path page=None category+=category.name %}">&nbsp;&nbsp;{{ category.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>