.badge-sport {
    padding: 6px;
    text-decoration: none;
    vertical-align: middle;
    color: black !important;
    border: 1px solid black;
}

.badge-sport:hover {
    text-decoration: none;
}

.badge-sport > svg {
    margin-right: 4px;
}

.navbarDropdown-icon {
    float: right;
}

#sports-widget > div{
    padding-top: 5px;
    padding-bottom: 5px;
}

#sports-widget > div > div > .emoji-col {
    padding: 10px;
}

.emoji:hover {
    text-decoration: none;
}

.sport-emoji {
    font-size: 1.4em;
}